<?xml version="1.0" encoding="UTF-8"?>

<!--  Mybatis 태그들을 설정할수 있는 스키마이다. -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!--  Type 단축해주는 코드 작성 -->
 <configuration>
 	<typeAliases>
 		<!--  Aliases : 별칭 -->
		<!--  DTO 만들면 여기에다가 별칭 미리 해두기 -->
 		<typeAlias type="java.util.Map" alias="Map"/>
 		<typeAlias type="com.jang.app.product.ProductDTO" alias="ProductDTO"/>
 		<typeAlias type="com.jang.app.members.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.jang.app.accounts.AccountDTO" alias="AccountDTO"/>
 		<typeAlias type="com.jang.app.transfers.TransferDTO" alias="TransferDTO"/>
 		<typeAlias type="com.jang.app.accounts.ListOption" alias="ListOption"/>

 		
 		
  		<typeAlias type="com.jang.app.notice.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.jang.app.notice.boards.BoardDTO" alias="BoardDTO"/>
 		<typeAlias type="com.jang.app.notice.qna.QnaDTO" alias="QnaDTO"/>
 
 		
 		
 		<typeAlias type="com.jang.app.util.Pager" alias="Pager"/>
 		
 		
 	</typeAliases>
 </configuration>