<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.jang.app.accounts.AccountDAO">
   		<insert id="add" parameterType="AccountDTO">
   			INSERT INTO PRODUCT_INFO (PRODUCT_INFO_ID, PRODUCT_ID, M_ID, JOIN_DATE, ACCOUNT_NUMBER, BALANCE)
   			VALUES (BANK_SEQ.NEXTVAL, #{product_id}, #{m_id}, SYSDATE, #{account_number}, #{balance})
   		</insert>
   <!--  자바에서 알아서 순서대로 숫자 넣어줌 -> #{product_info_id} | to_date(sysdate,'YYYY-MM-DD') 5 , BANK_SEQ.NEXTVAL-->
   
   		<select id="list" parameterType="MemberDTO" resultType="AccountDTO">
   			SELECT ACCOUNT_NUMBER, BALANCE
   			FROM PRODUCT_INFO
   			WHERE M_ID = 1
   		</select>
   		  		
   </mapper>