<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.app.boards.qna.QnaDAO">
	
	<sql id="searchSql">
		<where>
			BOARD_NUM > 0
			<choose>
				<when test="kind =='k1'">
					AND BOARD_TITLE
				</when>
				<when test="kind=='k2'">
					AND BOARD_CONTENTS
				</when>
				<otherwise>
					AND BOARD_WRITER
				</otherwise>
			</choose>
			<!-- 반복되는 코드라 밑으로 빼줌 -->
			LIKE '%'||#{search}||'%'
		</where>
	</sql>
	
	<select id="getTotalCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(BOARD_NUM) FROM QNA
		<include refid="searchSql"></include>
	</select>
	
	<select id="list" parameterType="Pager" resultType="QnaDTO">
	SELECT * FROM 	
		(
			SELECT ROWNUM R, Q.* FROM
			(
				SELECT * FROM QNA  
				<include refid="searchSql"></include>

				ORDER BY REF DESC, STEP ASC
				)Q
			)
			WHERE R BETWEEN #{startRow} AND #{lastRow}	
	</select>
			

	<insert id="add" parameterType="QnaDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="board_num">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>	
		INSERT INTO QNA
		VALUES (#{board_num}, #{board_writer}, #{board_title}, #{board_contents}, SYSDATE, SYSDATE,
		 '1', 0, #{board_num}, 0, 0, 0)
	</insert> 
	
	<insert id="addFile" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES 
  		VALUES
  		(FILES_SEQ.NEXTVAL, #{board_num}, #{filename}, #{oriname})	
  	</insert>
	
	<select id="detail" parameterType="QnaDTO" resultMap="detailResult">
		SELECT Q.*, QF.* 
		FROM QNA Q
			 LEFT JOIN
			 QNAFILES QF 
			 ON Q.BOARD_NUM = QF.BOARD_NUM
		WHERE Q.BOARD_NUM= #{board_num}
	</select>
	
	<resultMap type="QnaDTO" id="detailResult">
  		<id column="BOARD_NUM" property="board_num"/>
  		<result column="BOARD_WRITER" property="board_writer"/>
  		<result column="BOARD_CONTENTS" property="board_contents"/>
  		<result column="BOARD_TITLE" property="board_title"/>
  		<result column="CREATE_DATE" property="create_date"/>
  		<result column="UPDATE_DATE" property="update_date"/>
  		<result column="BOARD_HIT" property="board_hit"/>
  		<result column="BOARD_CATEGORY" property="board_category"/>
  		<result column="REF" property="ref"/>
  		<result column="STEP" property="step"/>
  		<result column="DEPTH" property="depth"/>
  		<result column="DEL" property="del"/>
  		
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="filenum"/>
  			<result column="FILENAME" property="filename"/>
  			<result column="ORINAME" property="oriname"/>  		
  		</collection>
  	</resultMap>
	
	<insert id="reply" parameterType="QnaDTO">
		<selectKey order="BEFORE" resultType="Long" keyProperty="board_num"> 
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO QNA
		VALUES 
		(
			#{board_num}, #{board_writer}, #{board_title}, #{board_contents}, SYSDATE, SYSDATE,
		 	'1', 0, #{ref}, #{step}, #{depth}
		 )
	</insert>
	
	<update id="replyUpdate" parameterType="QnaDTO">
		UPDATE QNA SET STEP = STEP +1
		WHERE REF= #{ref} AND STEP > #{step}
	</update>
	
	<update id="update" parameterType="QnaDTO">
		UPDATE QNA SET BOARD_TITLE = #{board_title}, BOARD_CONTENTS = #{board_contents}, UPDATE_DATE = SYSDATE
		WHERE BOARD_NUM = #{board_num}
	</update>
	
<!-- 	delete 문인데  쿼리문을 보면 update 써도 되는 이유는 -->
<!-- 	반환 값이 어차피 int이기 때문에 mybatice에서는 신경을 안쓴다. -->
<!-- 	그냥 개발자가 구분하기 쉽게 태그를 나눈거 같다. -->
	<delete id="delete" parameterType="QnaDTO">
		UPDATE QNA SET DEL=1 
		WHERE BOARD_NUM = #{board_num}
	</delete>
	
	<select id="fileDetail" parameterType="FileDTO" resultType="FileDTO"> 
		SELECT * FROM QNAFILES
		WHERE FILENUM = #{filenum}
	</select>
	
</mapper>
